**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*,cover
**/*.log
**/.git

**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/.ml-proof-cache-*
**/.kompile-*

.vscode/
.github/
examples/
documents/
tmp/
