# Build products
/.build/

# User directory for temp files
/tmp/

# =====================================================================
# TODO: Clean up below this line. Only include what is strictly needed.
# Keep build products to `.build` as much as possible.
# =====================================================================

# TODO: Look into moving these into .build. There are some options/env vars that enable this
__pycache__/
*.pyc

.kompile-*/
.kprove-*/
kore-exec.tar.gz

.ml-proof-cache-*/
